@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section contacts
{
    <h2>Наши Контакты:</h2>
    <h3>050-555-55-55</h3>
    <h3>098-999-99-99</h3>
    <h3>093-000-00-00</h3>
    <h3>Email: kniga@mail.ru</h3>
}