@using Shop.Models
@{
    ViewBag.Title = "Наши магазины";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section shops
{
    <div id="templatemo_content_right">
        <div class="templatemo_product_box">

       
            <h1>Книжный мир</h1>
            <img src="~/Content/images/маг1.gif" alt="image" />
            <div class="product_info">
                <p>Магазин находится на ул. Сумкая,35</p>
            </div>
            <div class="cleaner">&nbsp;</div>    
              
        </div>
            
        <div class="cleaner_with_width">&nbsp;</div>
    </div>
    
       <div class="cleaner_with_width">&nbsp;</div>
                <div id="templatemo_content_right">
          <div class="templatemo_product_box">

       
                       <h1>Знак</h1>
               <img src="~/Content/images/маг2.jpg" alt="image" />
                <div class="product_info">
                	<p>Магазин находится на ул. Петровского,24а</p>
                </div>
                <div class="cleaner">&nbsp;</div>    
              </div>
            </div>
 
}
